<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELTA CMS | BLOGS</title>
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body>
    <%- include('modules/navbar') %>

    <div class="content">
        <form method="POST" action="/admin/servers/create"> 
            <div class="grid-container">
                <div class="card-c small-card">
                <input name="ip" id="ip"></input >
                </div>
                <div class="card-c small-card">
                    <input id="port" name="port"></input>
                </div>
                <input type="submit" value="Добавить"> 
            </div>
        </form>
    </div>
</body>
</html>