<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Jura:400,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    </head>
<body>
    <%- include('modules/navbar-home') %>
    <div class="content-align-items-center">
        <h1 style="text-align: center; margin-top: 120px; margin-bottom: 0;">&lt;title&gt;Delta project&lt;/title&gt;</h1>
        <h1 style="text-align: center; margin-top: 15px; margin-bottom: 0;">Com#m5un%ty</h1>
        <h3 style="text-align: center; margin-top: 30px; margin-bottom: 0;">Присоединяйся к нашему сообществу, оттачивай свои навыки и участвуй в напряженных тактических сражениях.</h3>
        <h3 style="text-align: center; margin-top: 0px; margin-bottom: 0;">Выбирай свой сервер, собирай команду и готовься к действию.</h3>
        <h3 style="text-align: center; margin-top: 0px; margin-bottom: 30px;">Все это ждет вас здесь!</h3>
        <div class="button">
            <a href="/servers">Join to Open Beta</a>
        </div>
    </div>
</body>
</html>