<div class="navbar">
    <div class="logo">
        <a href="/admin">DELTA PANEL</a>
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin" style="display: block;">Home</a>
        </li>
        <li>
            <a href="/admin/blogs" style="display: block;">Blogs</a>
        </li>
        <li>
            <a href="/admin/users" style="display: block;">Users</a>
        </li>
        <li>
            <a href="/admin/servers" style="display: block;">Servers</a>
        </li>
    </ul>
</div>