<div class="navbar">
    <div class="logo">
        <a href="/admin">DELTA PANEL</a>
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin" style="display: block;">Home</a>
        </li>
        <li>
            <a href="#" style="display: block;">Page</a>
        </li>
        <li>
            <a href="/admin/user" style="display: block;">Users</a>
        </li>
    </ul>
</div>