<div class="navbar">
    <div class="logo left">
        <a href="/">delta &lt;/&gt;</a>
    </div>
    <div class="right">
            <a href="/store">Магазин</a>
            <a href="/news">Новости</a>
            <a href="/blogs">Блог</a>
        <div class="button">
            <a href="/servers">Join to Open Beta</a>
        </div>
    </div>
</div>