<div class="navbar-blog" ">
    <ul>
        <li>
            <a href="/blogs">Game Dev</a>
        </li>
        <li>
            <a href="/blogs/other">Servers</a>
        </li>
        <li>
            <a href="/blogs/other">Other</a>
        </li>
    </ul>
</div>    