<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DELTA CMS</title>
        <link rel="stylesheet" href="/css/admin-style.css">
    </head>
<body>

    <%- include('../modules/navbar') %>

    <div class="content">
        <div class="grid-container">
            <div class="card-s large-card">
                <div class="row-container">
                    <%- include('../modules/header')  %>
                </div>
            </div>
            <div class="card-s large-card">
                <div class="row-container ai-c">
                    <div class="text">Флаги доступа</div>
                    A - Администратор<br>
                    U - Пользователь<br>
                </div>
            </div>

            <div class="card-s large-card">
                <div class="row-container">
                    <div class="text">fgfg</div>
                    fgf<br>
                    <div class="text">fgfg</div>
                     fgfg <br> ggh <br>
                </div>
            </div>

            <div class="card-s large-card">
                 <a href="http://localhost:3005">http://localhost:3005</a>
            </div>

            <div class="card-s large-card">
                <div class="row-container">
                    <div class="text">Powered by Tr1gEr</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>