<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DELTA CMS</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>

    <%- include('../modules/navbar') %>

    <div class="content">
        <%- include('../modules/header') %>
    </div>
</body>
</html>